<div class="col-md-6 session-container">
  <h2 class="text-center">Add Session</h2>
  <form [formGroup]="addFormHabit" (ngSubmit)="onSubmit()">


    <div class="form-group">
      <label for="title">Title:</label>
      <input type="text" formControlName="title" placeholder="title" name="title" class="form-control" id="title">
    </div>

    <div class="form-group">
      <label for="summary">Summary: </label>
      <input type="text" formControlName="summary" placeholder="Write down brief summary" name="summary" class="form-control" id="summary">
    </div>

    <button class="btn btn-success">Add</button>
  </form>
</div>
