<!--src/app/pages/groups-api/group-sessions-api.component.html-->

<div>
  <h1>Group Sessions</h1>
  <p>
    Only users with create:sessions permissions have access to this info.
  </p>
  <div
    class="btn-group mt-5"
    role="group"
    aria-label="External API Requests Examples"
  >
  </div>


  <button class="btn btn-danger" style="width:100px" (click)="addSession()"> Add Session</button>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Id</th>
      <th>title</th>
      <th>habit/topic</th>
      <th>summary</th>
      <th>organizer</th>
      <th>capacity</th>
      <th>location</th>
      <th>start_date</th>
      <th>end_date</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let session of sessions">
<!--      <td class="hidden"></td>-->
      <td>{{ session.id }}</td>
      <td>{{ session.title }}</td>
      <td>{{ session.habit_title }}</td>
      <td>{{ session.summary }}</td>
      <td>{{ session.organizer }}</td>
      <td>{{ session.capacity }}</td>
      <td>{{ session.location }}</td>
      <td>{{ session.start_date }}</td>
      <td>{{ session.end_date }}</td>

      <td>
        <button class="btn btn-success" (click)="deleteSession(session)"> Delete</button>
        <!--        <button class="btn btn-success" (click)="editSession(session)" style="margin-left: 20px;"> Edit</button>-->
        </td>
    </tr>
    </tbody>
  </table>

</div>
