<h1 id="tableLabel">Session list</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!sessions"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="sessions">
  <thead>
  <tr>
    <th>Session ID</th>
    <th>name</th>
    <th>location</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let session of sessions">
    <td>{{ session.id }}</td>
    <td>{{ session.name }}</td>
    <td>{{ session.location }}</td>

  </tr>
  </tbody>
</table>

<router-outlet></router-outlet>
