<div class="navbar-nav mr-auto">
  <div class="nav-item">
    <a
      routerLink="/"
      class="nav-link"
      routerLinkActive="router-link-exact-active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Home
    </a>
  </div>
  <div class="nav-item">
    <a
      routerLink="/groups-api"
      class="nav-link"
      routerLinkActive="router-link-exact-active"
    >
      Group Sessions
    </a>
  </div>
  <div class="nav-item">
    <a
      routerLink="/habits-api"
      class="nav-link"
      routerLinkActive="router-link-exact-active"
    >
      Habit/Topic
    </a>
  </div>
  <div class="nav-item">
    <a
      routerLink="/profile"
      class="nav-link"
      routerLinkActive="router-link-exact-active"
    >
      Profile
    </a>
  </div>

</div>
